.note-container {
  height: 100%;
}

.note-container {
  margin-bottom: 20px;
}

.note-container-note {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
}

.Emapty-note-heading {
  margin-top: 25px;
}
